<section>
    <mat-card routerLink="/reqs">
        <mat-card-title>
            Requirements
        </mat-card-title>
        <mat-card-content>
            <p>All your requirements in one place</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <mat-icon>
                arrow_forward
            </mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card routerLink="/defs">
        <mat-card-title>
            Definitions
        </mat-card-title>
        <mat-card-content>
            Go to definitions
        </mat-card-content>
        <mat-card-actions align="end">
            <mat-icon>
                arrow_forward
            </mat-icon>
        </mat-card-actions>
    </mat-card>
</section>
<section>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    New requirement
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <input type="file" id="file" name="file" (change)="uploadImage($event)">
                <div [hidden]="!uploadPercent">
                    <mat-progress-bar mode="determinate" value="{{uploadPercent | async }}"></mat-progress-bar>
                </div>
                <div [hidden]="!image">
                    <img [src]="image || '//:0' ">
                </div>
            </div>
            <mat-form-field>
                <input matInput placeholder="Requirement Title" [(ngModel)]="title">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Requirement Description" [(ngModel)]="description" rows="5"></textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phase" [(ngModel)]="phase">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Type" [(ngModel)]="type">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="createRequirement()" [disabled]="!description">{{buttonText}}</button>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    New definition
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <input matInput placeholder="Term" [(ngModel)]="term">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Definition" [(ngModel)]="definition" rows="5"></textarea>
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="createDefinition()" [disabled]="!term || !definition">{{buttonText}}</button>
        </mat-expansion-panel>
    </mat-accordion>
</section>
