<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            New requirement
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
        <input type="file" id="file" name="file" (change)="uploadImage($event)">
        <div [hidden]="!uploadPercent">
            <mat-progress-bar mode="determinate" value="{{uploadPercent | async }}"></mat-progress-bar>
        </div>
        <div [hidden]="!image">
            <img [src]="image || '//:0' ">
        </div>
    </div>
    <form [formGroup]="requirementForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Requirement Title" formControlName="title" required>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Requirement Description" formControlName="description" rows="5" required></textarea>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Phase" formControlName="phase" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Type" formControlName="type" required>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="!requirementForm.valid">{{buttonText}}</button>
    </form>

</mat-expansion-panel>
