<section>
    <mat-card *ngFor="let requirement of requirements | async">
        <mat-card-content routerLink="{{requirement.id}}">
            <img *ngIf="requirement.image" src="{{requirement.image}}" alt="{{requirement.title}}">
            <h2 *ngIf="requirement.title">{{requirement.title}}</h2>
            <p *ngIf="requirement.author"><small>Created by {{requirement.author}} &bull; on {{requirement.created.toDate() | date: "fullDate"}}</small></p>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="auth.currentUserId === requirement.authorId">
            <button mat-icon-button (click)="delete(requirement.id)">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</section>
