<h2>Requirement List</h2>
<div>
    <label>Requirement description:
        <input #requirementDesc />
    </label>
    <button (click)="add(requirementDesc.value); requirementDesc.value=''">
        add
    </button>
</div>
<ul class="requirements">
    <li *ngFor="let requirement of requirementsList | async">
        <a routerLink="/detail/{{requirement.id}}">
        <span class="badge">{{requirement.id}}</span>
        <div>{{requirement.description}}</div>
    </a>
    <button class="delete" title="Delete Requirement"
        (click)="deleteRequirement(requirement)">x</button>
    </li>
</ul>

<tr *ngFor="let requirement of requirementsList | async; let i = index" [attr.data-index]="i">
   <td>{{i + 1}}</td>
   <td>{{requirement.description}}</td>
   <td>
  <button class="btn btn-success" (click)="edit(requirement)">
    <i class="fa fa-edit">edit</i>
  </button>
  <button class="btn btn-danger" (click)="deleteRequirement(requirement)">
    <i class="fa fa-remove">delete</i>
  </button>
</td>
</tr>

<form #f="ngForm">
  <div class="form-group">
  <input [(ngModel)]="myReq" name="myReq" type="text" class="form-control" placeholder="Enter Task" required>
  </div>
  <p *ngIf="loading">
     <i class="fa fa-spinner fa-spin"></i>
  </p>
  <div class="form-group">
   <button class="btn btn-primary" [disabled]="!f.valid" (click)="saveTask()">
     Save Task
   </button>
  </div>
</form>

