<h1 class="mat-h1">Welcome</h1>
<h2 class="mat-h2">Introducing Requirements Manager</h2>
<section>
    <p class="body-1">Requirements Manager is a tool
        that helps you manage requirements, and start your projects properly.</p>
    <p>
        Choose which project you want to work on, or start a new project.
    </p>
    <mat-card *ngFor="let project of projects$ | async">
        <mat-card-header>
            <h2>
                {{project.title}}
            </h2>
        </mat-card-header>
        <mat-card-content>
            <p *ngIf="project.description">{{project.description}}</p>
            <p>
                Created by {{project.owner}}
            </p>
            <!-- <a routerLink="/projects/{{project.id}}">Go to project</a> -->
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-fab (click)="selectProject(project)">
                <mat-icon>notes</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            Get started with a new project.
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-fab>
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</section>
